@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="text-align: justify; text-justify: inter-word;">
        I am glad to see you at my Car Market site. Here you can conveniently sell
        or buy your desired car. User-friendly interface, filters, free verification
        of car history by VIN-number from verified external baseses and much more.
        The main task is bought of a complex technical product the easiest,
        fastest and most honest.
    </p>
</div>